num-nbds=4

nbd-host=192.168.171.147
nbd-ssh-port=22
nbd-host-username=tong
nbd-host-passwd=tong

nbd-host=192.168.171.148
nbd-ssh-port=22
nbd-host-username=tong
nbd-host-passwd=tong

nbd-host=192.168.171.149
nbd-ssh-port=22
nbd-host-username=tong
nbd-host-passwd=tong

nbd-host=192.168.171.150
nbd-ssh-port=22
nbd-host-username=tong
nbd-host-passwd=tong
